<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onmybike.chrisgregory.onmybike_chapter4" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.onmybike.chrisgregory.onmybike.OnMyBike"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name="com.onmybike.chrisgregory.onmybike.activites.TimerActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.onmybike.chrisgregory.onmybike.activites.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.onmybike.chrisgregory.onmybike.activites.TimerActivity"/>
        </activity>
    </application>

</manifest>
